.generic-content-container{
	p {
	font-size: 0.9rem;
	line-height: 1.45;
	margin : 0 0 1.8rem 0;
	font-weight: 300;
	}
	@mixin atSmall{
		p {
			font-size: 1rem;
		}
	}

	p a {
		font-weight: 700;			
	}
	
}