.section-title{
	text-align: center;
	font-size: 2rem;
	font-weight: 300;
	margin-bottom: 3rem;
	
	@mixin atSmall{
		margin-bottom: 2rem;
	}

	strong{
		font-weight: 400;
		}
	&--blue{
		color: $mainBlue;
	}
	&__icon{
		display: block;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 1rem;
		@mixin atSmall{
			margin-right: 2rem;
			display: inline-block;
			margin-bottom: -.5rem;
		}
	}
	&__icon--lower{
		margin-bottom: 0;
		@mixin atSmall{
			margin-bottom: -1rem;
		}
	}

	@mixin atSmall{
		font-size: 3rem;
		strong{
		font-weight: 500;
		}

	}
}