.wrapper{
/*	background-color: green;
*/	overflow: hidden;
	padding-left: 30px;
	padding-right: 30px;
	max-width: 1136px;
	margin-left: auto;
	margin-right: auto;
	
	&--medium{
		max-width: 950px;
	}
	.wrapper{
		padding-left: 0;
		padding-right: 0;
	}

	&--b-margin{
		margin-bottom: 1rem;
		@mixin atMedium{
			margin-bottom: 3.875rem;

		}
	}
}